.heroBanner {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 2rem;
}

.features {
  display: flex;
  align-items: flex-start;
  padding: 2rem 1rem;
  width: 100%;
}

@media (max-width: 996px) {
  .heroBanner {
    padding: 2rem 1rem;
  }

  .hero__title {
    font-size: 1.75rem;
  }
}
